<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee">
   
   <servlet>
    <servlet-name>Con</servlet-name>
    <servlet-class>Con.Con</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Con</servlet-name>
    <url-pattern>/Con</url-pattern>
  </servlet-mapping>
  
  
</web-app>